import com.jenkins.*

def call(Closure body) {
    // ingest configs from jobs
    LinkedHashMap config = [:]
    body.resolveStrategy = Closure.DELEGATE_FIRST
    body.delegate = config
    body()
    // inject your pipeline here
}